@import '@fortawesome/fontawesome-free/css/all.css';

/**
    CHANGES TO BULMA  

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: "Nunito", sans-serif;
$primary: #0cc9d6;
$box-radius: 100px;
*/
@import 'bulma/bulma.sass';
