@import '@fortawesome/fontawesome-free/css/all.css';

/**
    Let's use $primary as our primary color, $info as our secondary color, and $link for our 'other' color
    We can change them here later.
*/

/** 
        HORIZONTAL AND VERTICAL CENTERING
    hero-body vertically centers its contents by default
    this seems to mess up sizing but im not sure --jack
*/
.is-absolute-centered { 
    margin: 0;
    position: absolute;
    top: 50%; //not needed when in hero-body
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

$primary: hsl(171, 100%, 41%);
$info: hsl(204, 86%, 53%);
$radius: 0px;
$radius-large: 0px;

$input-shadow: 0px;
$input-focus-box-shadow-size: 0em;
$input-border-color: $info;
$input-focus-border-color: $info;
$input-hover-border-color: $info;

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700'); //we need a better font
$family-sans-serif: "Nunito", sans-serif;
@import 'bulma/bulma.sass';

.hero {
    background: linear-gradient(20deg, $info 0%, $primary 60%); 
    //background: linear-gradient(105deg, $info 0%, $primary 40%, $info 80%);
}